datasets==3.3.2
evaluate==0.4.3
huggingface_hub==0.29.1
nltk==3.9.1
numpy<2
pandas==2.2.3
peft==0.14.0
polars==1.26.0
python-dotenv==1.1.0
scikit_learn==1.6.1
shap==0.46.0
spacy==3.8.2
textdescriptives==2.8.2
torch==2.5.1+cu118
tqdm==4.67.1
transformers==4.49.0
